--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Scanes; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA "Scanes";


ALTER SCHEMA "Scanes" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Scanes; Type: TABLE; Schema: Scanes; Owner: postgres
--

CREATE TABLE "Scanes"."Scanes" (
    "ID" integer NOT NULL,
    name character varying,
    capacity integer
);


ALTER TABLE "Scanes"."Scanes" OWNER TO postgres;

--
-- Name: Scanes_ID_seq; Type: SEQUENCE; Schema: Scanes; Owner: postgres
--

CREATE SEQUENCE "Scanes"."Scanes_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "Scanes"."Scanes_ID_seq" OWNER TO postgres;

--
-- Name: Scanes_ID_seq; Type: SEQUENCE OWNED BY; Schema: Scanes; Owner: postgres
--

ALTER SEQUENCE "Scanes"."Scanes_ID_seq" OWNED BY "Scanes"."Scanes"."ID";


--
-- Name: Scanes ID; Type: DEFAULT; Schema: Scanes; Owner: postgres
--

ALTER TABLE ONLY "Scanes"."Scanes" ALTER COLUMN "ID" SET DEFAULT nextval('"Scanes"."Scanes_ID_seq"'::regclass);


--
-- Data for Name: Scanes; Type: TABLE DATA; Schema: Scanes; Owner: postgres
--

COPY "Scanes"."Scanes" ("ID", name, capacity) FROM stdin;
1	Sala A1	320
\.


--
-- Name: Scanes_ID_seq; Type: SEQUENCE SET; Schema: Scanes; Owner: postgres
--

SELECT pg_catalog.setval('"Scanes"."Scanes_ID_seq"', 1, true);


--
-- Name: Scanes Scanes_pkey; Type: CONSTRAINT; Schema: Scanes; Owner: postgres
--

ALTER TABLE ONLY "Scanes"."Scanes"
    ADD CONSTRAINT "Scanes_pkey" PRIMARY KEY ("ID");


--
-- PostgreSQL database dump complete
--

